<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img style="width: 39px;height: 30px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>SGEI</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="Index"><span style="font-size: 20px;">Equipo Informático</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="proveedores"><span style="font-size: 20px;">Proveedores</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="reportes"><span style="font-size: 20px;">Reportes</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="d-sm-flex align-items-center justify-content-xl-center mb-4">
                    <h1 class="text-dark d-xl-flex align-content-center justify-content-xl-center mb-0" style="width: 391px;">Reportes</h1>
                </div>
                <div class="container-fluid" data-aos="fade">


                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header py-3" style="font-size: 20px;">
                                    <p class="text-primary m-0 font-weight-bold">Equipos Informaticos Por Departamento</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <input type="button" class="btn btn-primary" style="background-color: rgb(17,37,96);font-size: 20px;"
                                               onclick="location.href='@Url.Action("DescargarEquiposPorDepartamento", "Reportes")';" value="Descargar PDF" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
</body>


</html>